.section-selector-1 { background-color: var(--slate-050) }
.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { color: var(--white-000) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { background-color: var(--green-400) }

section.section-selector-1 h2
    font-family: 'Bebas Neue', cursive;
     font-weight: 600;
     letter-spacing: 4px;
     font-size: calc(48px + (100 - 48) * ((100vw - 320px)/ (1600 - 320)));