 header.theme-dark { background-color: var(--black-000) }
 header.theme-dark .container-btn a.btn:nth-child(1):link,
 header.theme-dark .container-btn a.btn:nth-child(1):visited { color: var(--white-000) }
 
 header.theme-dark .container-btn a.btn:nth-child(1):focus,
 header.theme-dark .container-btn a.btn:nth-child(1):hover,
 header.theme-dark .container-btn a.btn:nth-child(1):active { color: var(--green-400) }
 
 header.theme-dark .container-btn a.btn:nth-child(1):focus,
 header.theme-dark .container-btn a.btn:nth-child(1):hover,
 header.theme-dark .container-btn a.btn:nth-child(1):active { background-color: var(--black-000) }
 
 header.theme-dark .container-btn a.btn:nth-child(1):link,
 header.theme-dark .container-btn a.btn:nth-child(1):visited { border-color: var(--white-000) }
 
 header.theme-dark .container-btn a.btn:nth-child(1):focus,
 header.theme-dark .container-btn a.btn:nth-child(1):hover,
 header.theme-dark .container-btn a.btn:nth-child(1):active { border-color: var(--green-400) }
 
 header.theme-dark .container-btn a.btn:nth-child(2):link,
 header.theme-dark .container-btn a.btn:nth-child(2):visited { color: var(--black-000) }
 
 header.theme-dark .container-btn a.btn:nth-child(2):focus,
 header.theme-dark .container-btn a.btn:nth-child(2):hover,
 header.theme-dark .container-btn a.btn:nth-child(2):active { color: var(--black-000) }
 
 header.theme-dark .container-btn a.btn:nth-child(2):link,
 header.theme-dark .container-btn a.btn:nth-child(2):visited { background-color: var(--green-400) }
 
 header.theme-dark .container-btn a.btn:nth-child(2):focus,
 header.theme-dark .container-btn a.btn:nth-child(2):hover,
 header.theme-dark .container-btn a.btn:nth-child(2):active { background-color: var(--green-500) }
 
 header.theme-dark .container-btn a.btn:nth-child(2):link,
 header.theme-dark .container-btn a.btn:nth-child(2):visited { border-color: var(--green-400) }
 
 header.theme-dark .container-btn a.btn:nth-child(2):focus,
 header.theme-dark .container-btn a.btn:nth-child(2):hover,
 header.theme-dark .container-btn a.btn:nth-child(2):active { border-color: var(--green-500) }
 
 header.theme-dark .badge { color: var(--white-000) }
 header.theme-dark .badge { background-color: var(--black-000) }
 header.theme-dark h1 { color: var(--green-400) }

 header.badge {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
    text-decoration-color: var(--green-400);
    text-decoration-style: wavy;
 }
 
 header.theme-dark h1 {
   font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: calc(48px + (100 - 48) * ((100vw - 320px)/ (1600 - 320)));
 }
 
 header.theme-dark h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
 }

 .section-selector-1 { background-color: var(--white-000) }
 .section-selector-1 a.btn:link,
 .section-selector-1 a.btn:visited { color: var(--black-000) }
 
 .section-selector-1 a.btn:focus,
 .section-selector-1 a.btn:hover,
 .section-selector-1 a.btn:active { background-color: var(--green-400) }
 
 .section-selector-1 a.btn:focus,
 .section-selector-1 a.btn:hover,
 .section-selector-1 a.btn:active { color: var(--black-000) }
 
 .section-selector-1 h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 30px;
 }

 .section-selector-2 h2 {

    letter-spacing: 8px;
 }

label {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 30px
}

button {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 30px
}

.fade-in-text {
   font-family: Arial;
   font-size: 150px;
   animation: fadeIn 5s;
 }

 
 